<%# Write your code here! %>

<!-- use the data the user submitted in the previous form within 
our HTML to produce a personalized greeting
 -->
<h1>Hi <%= params[:user_name] %>, nice to meet you!</h1>
