<%# Write your code here! %>

<!--Remember that what user filled out in index.rb was sent here via POST-->>

<p>Hi <%= params[:user_name] %>, nice to meet you!</p> <!-- take what the user filled in for user_name, and return that-->