<%# Write your code here! %>
<h1>Welcome!</h1>

<form action="/greet" method="POST"> <!--Action specifies WHERE to send form data, method is the HTTP verb. So we post this info for /greet to use-->
  <label for="user_name">Name:</label>

  <p><input type="text" name="user_name" id="user_name" /></p>

  <input type="submit" value="Submit"/>
</form>